body {
 margin: 0;
 border: 0;
 font-family: 'Roboto Mono', monospace;
}
 
h1 {
 font-size: 18px;
 text-align: center;
 color:blueviolet;
}
 
h2 {
 font-size: 16px;
 text-align: center;
}

header {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(197, 231, 250);
}

header nav ul li {
  display: inline;
}

.writing img {
  width: 400px
}